html {
  background: black;
}
body {
  font-family: 'Noto Serif', serif !important;
  animation: fadeIn 2s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif !important;
  font-weight: 100 !important;
}
p {
  font-size: 15px;
}
button {
  font-family: 'Noto Serif', serif !important;
}
.btn1 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.btn1:hover {
  background: white;
  color: #262626;
}
.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  position: relative;
}
.main_banner {
  background: url('../images/rdam.jpg');
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: table;
}
.main_banner .wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main_banner .wrapper a {
  text-decoration: none !important;
  cursor: default;
}
.main_banner .wrapper a:hover {
  color: white;
}
.main_banner .wrapper img {
  max-width: 150px;
  width: 60%;
  display: block;
  margin: auto auto 50px auto;
}
.main_banner .wrapper h1 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
.main_banner .wrapper hr {
  background: grey;
  max-width: 1400px;
  width: 90%;
  margin: 25px auto;
}
.main_banner .wrapper h3 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
.main_banner .wrapper i {
  font-size: 85px;
  text-align: center;
  color: white;
  margin-top: 40px;
  position: relative;
  animation: toggle 5s infinite;
}
.nav {
  width: 100%;
  height: 50px;
  background: #262626;
  color: white;
  line-height: 50px;
  text-align: center;
  border-bottom: 5px solid grey;
  position: absolute;
  left: 0;
  right: 0;
  transition: 75ms ease;
}
.nav .nav_img {
  position: absolute;
  top: 6px;
  left: 10px;
  height: 35px;
  display: none;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav ul li {
  display: inline;
  margin-left: 75px;
  margin-right: 75px;
}
.nav ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
  transition: 75ms ease-in;
}
.nav ul li a img {
  height: 35px;
  position: absolute;
  top: 6px;
}
.nav ul li a:hover {
  opacity: 1;
}
.nav .menu_btn {
  position: absolute;
  right: 10px;
  color: white;
  font-size: 25px;
  top: 12px;
  display: none;
  cursor: pointer;
}
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.mobile_menu {
  position: fixed;
  top: 50px;
  right: 0;
  width: 200px;
  bottom: 0;
  background: #262626;
  display: none;
  z-index: 999;
}
.mobile_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile_menu ul li {
  margin-left: 30px;
  margin-top: 30px;
}
.mobile_menu ul li a {
  color: white;
  text-decoration: none;
}
.info-1 {
  padding: 50px 0;
  height: 100vh;
  text-align: center;
  color: #262626;
  display: table;
  width: 100%;
  background: white;
}
.info-1 .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.info-1 i {
  font-size: 45px;
  color: #e6e6e6;
  margin-bottom: 20px;
}
.info-1 h2 {
  font-weight: 100;
}
.info-1 hr {
  max-width: 100px;
  border: none;
  height: 3px;
  background: grey;
  margin: 20px auto;
}
.info-1 p {
  width: 80%;
  margin: auto;
}
.info-1 span {
  color: grey;
}
.banner-2 {
  background: url('../images/rdam2.jpg');
  background-attachment: fixed;
  background-position: center;
  height: 100vh !important;
  width: 100%;
  display: table;
  padding: 50px 0;
}
.banner-2 .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.banner-2 .wrapper img {
  display: block;
  margin: auto;
  border-radius: 100%;
  max-width: 200px;
  width: 80%;
  margin-bottom: 50px;
  box-shadow: 0 0 20px #000;
}
.banner-2 .wrapper h2 {
  text-align: center;
  color: white;
}
.banner-2 .wrapper hr {
  max-width: 100px;
  border: none;
  height: 3px;
  background: white;
  margin: 20px auto;
}
.banner-2 .wrapper p {
  color: white;
  font-weight: 100 !important;
  width: 80%;
  max-width: 1400px;
  margin: auto;
  text-align: center;
}
.banner-2 .wrapper p span {
  color: grey;
  font-size: 25px;
}
.info-2 {
  padding: 50px 0;
  height: 100vh;
  display: table;
  text-align: center;
  box-shadow: 0 0 20px #ccc;
  color: #262626;
  width: 100%;
  background: white;
}
.info-2 .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.info-2 .wrapper .row_wrapper {
  width: 80%;
  margin: auto;
}
.info-2 .fa-briefcase {
  font-size: 45px;
  color: #e6e6e6;
  margin-bottom: 20px;
}
.info-2 hr {
  max-width: 100px;
  border: none;
  height: 3px;
  background: #262626;
  margin: 20px auto;
}
.info-2 .projects .project_item {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.info-2 .projects .project_item img {
  height: 75px;
  object-fit: cover;
}
.info-2 .projects .project_item hr {
  height: 1px;
  background: #e6e6e6;
  width: 200px;
}
.info-2 .projects .project_item p {
  color: grey;
}
.contact {
  background: url('../images/rdam3.jpg');
  background-attachment: fixed;
  background-position: center;
  padding: 50px 0;
  color: white;
  text-align: center;
}
.contact h3 {
  color: white;
}
.contact .c_form {
  margin: 50px auto auto auto;
  max-width: 800px;
  display: none;
}
.contact .c_form input {
  border: 1px solid white;
  background: transparent;
  color: white;
  margin-top: 50px;
}
.contact .c_form textarea {
  border: 1px solid white;
  background: transparent;
  color: white;
  margin-top: 50px;
  height: 300px;
  margin-bottom: 50px;
}
.contact .c_form button,
.contact .c_form .collapse_btn {
  width: 100% !important;
}
footer {
  width: 100%;
  min-height: 200px;
  padding: 50px 0;
  background: #e6e6e6;
  text-align: center;
}
footer hr {
  margin: 30px 0;
}
footer i {
  font-size: 40px !important;
}
@media screen and (min-width: 1125px) {
  .mobile_menu {
    display: none !important;
  }
}
@media screen and (max-width: 1125px) {
  .nav .nav_img {
    display: block;
    margin: auto;
  }
  .nav ul {
    display: none;
  }
  .nav .menu_btn {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .main_banner,
  .banner-2 {
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 480px) {
  .main_banner i {
    animation: none !important;
  }
}
@keyframes toggle {
  0% {
    top: 0px;
  }
  25% {
    top: 50px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
